/* Geral */
.container_base {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
    padding: 50px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

/* area dos botoes */
.container_botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* Area de busca */
.container_busca {
    width: 100%;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 2px solid rgb(201, 196, 196);
    border-radius: 20px;
}

.lupa_img {
    width: 20px;
    height: auto;
}

.input_busca {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    color: var(--corDourada);
    font-weight: bold;
}

/* Área Cardapio */
.container_cardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.container_cardapio h2 {
    color: var(--corDourada);
    font-family: var(--fonteEspecial);
    font-size: 30px;
}

.cards_area {
    width: 100%;
    max-width: 1024px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--corCinzaClaro);
    border-radius: 10px;
}

/* Rodape */
.creditos {
    width: 100%;
    max-width: 1024px;
    padding: 10px 20px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.qr_image {
    width: 200px;
    height: 200px;
}

.links{
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#link_curso {
    background-color: green;
    color: var(--corCinzaClaro);
}

#link_curso:hover {
    background-color: rgb(6, 85, 6);
}

#link_nome {
    background-color: var(--corDourada);
    color: var(--corCinzaClaro);
}

#link_nome:hover {
    background-color: rgb(160, 139, 17);
}

/* media-query */

@media screen and (max-width: 1024px) {
    .container_base {
        padding: 50px 20px 20px;
    }
}